!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title QuizPracticeApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .notification
      - flash.each do |key, value|
        = content_tag :div, value, class: key
    .header
      .header__title
        %h1 quizapp
      .header__right
        .header__right__user
          =link_to 'username', '#', class: 'header__right__user__link'
        .header__right__log
          =link_to 'ログアウト', '#', class: 'header__right__log__link'
    .category
      .category__box
        =link_to '問題を解く', root_path, class: 'category__box__solving'
      .category__box
        =link_to '問題を作成する', new_quiz_path, class: 'category__box__create'
      .category__box
        =link_to '問題閲覧・編集', '#', class: 'category__box__edit'
    = yield
